{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-8">
  <h2 class="text-3xl font-bold mb-6">Mein Profil</h2>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h3 class="card-title">Nutzer: {{ user.username }}</h3>
      <p>E-Mail: {{ user.email }}</p>
      <p>Bevorzugte Mahlart: --</p>
      <p>Durchschnittlicher Kaffeekonsum: -- Tassen/Woche</p>
      <div class="mt-4">
        <c-button href="#" variant="primary">Profil bearbeiten</c-button>
      </div>
    </div>
  </div>
  <div class="max-w-2xl mx-auto mt-10">
    <h2 class="text-2xl font-bold mb-4">Dein Kontoauszug</h2>
    <c-kontoauszug-liste page_obj=page_obj has_next=has_next next_page=next_page />
  </div>
  <!-- Modal für Markierung -->
  <c-modal id="modal-markierung"></c-modal>
</div>
{% endblock %}
